tr.onCompletionDisabled td {
	color: #ccc;
}

input[type=checkbox], input[type=radio] {
	vertical-align:middle;
}

div#buildList{
	padding: 1em;
}

div#buildPane {
    overflow: scroll;
}

label {
	padding: 0.5em;
	border-top: 1px black;
}

.slackNotificationRowTemplate {
	display:none;
}

.etabs { margin: 0; padding: 0 0 0 1em; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border-top: solid #ccc 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    